$light-green: #e0e5cc;
$dark-green: #142100;
$gb-shadow-color: rgba(58, 72, 38, 0.4);
$gb-shadow-outer-placement: 2px 2px 0;
$gb-border-type: 2px solid;
$pokemon-yellow: #ffcc03;
$pokemon-blue: #4F45BF;
$tv-shadow: 0 0 5px black;
$glow-size: 0 0 2px;
@mixin background-size($property) {
  -webkit-background-size: $property;
  -moz-background-size: $property;
  -o-background-size: $property;
  background-size: $property;
}
@font-face {
  font-family: "pokemon";
  src: url("PocketMonk.woff") format("woff");
}
@font-face {
  font-family: "gameboy";
  src: url("gameboy.woff") format("woff");
}

html {
  margin: 0 auto;
  background-image: url("images/map.png");
  @include background-size(cover);
  background-attachment: fixed;
  height: 100%;
  /* overflow: hidden; */
}

ul {
  list-style-type: none;
}

li {
  line-height: 3.5;
}

body {
  background-color: rgba(118, 148, 0, 0.2);
  margin: 0 auto;
  /* padding-top: 30px; */
  font-family: "gameboy", Fallback, sans-serif;
  color: $dark-green;
  text-shadow: $gb-shadow-outer-placement $gb-shadow-color;
  min-height: 100%;
}

a,
a:visited {
  color: $dark-green;
  text-decoration: none;
}

a:active,
a:hover {
  color: $dark-green;
  font-weight: bold;
  text-decoration: none;
}

#header {
  margin: 0 !important;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: #9ebbec;
  box-shadow: 0 2px 0 $gb-shadow-color;
  background-image: url("images/tallgrass.png");
  background-repeat: repeat-x;
  background-position: bottom;
}

#zed {
  min-width: 200px;
  max-width: 300px;
  background: none;
  border: none;
  overflow: hidden;
  box-shadow: none;
  max-height: 80vh;
  border-bottom: $gb-border-type $dark-green;
  box-shadow: 0 2px 0 $gb-shadow-color;
  padding: 0;
  margin: 0;
}

#zed img {
  max-width: 100%;
}

#footer {
  position: absolute;
  margin: 0 !important;
  text-align: center;
  border-left: none;
  border-right: none;
  border-bottom: none;
  box-shadow: none;
  background-color: white;
  bottom: 0 !important;
}

#displayStats {
  height: 100%;
  padding: 25px;
}

#leftbar {
  height: 100%;
  background-color: $light-green;
}

h1,
h2 {
  font-family: "pokemon", Fallback, sans-serif;
  color: $pokemon-yellow;
  -webkit-text-stroke: 2px $pokemon-blue;
  margin: 5px;
  text-align: center;
  text-shadow: $gb-shadow-outer-placement $gb-shadow-color;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

.pokeball {
  background: radial-gradient(transparent, black), url("images/static2.gif");
  @include background-size(cover);
  text-align: center;
  box-shadow: $tv-shadow, inset $tv-shadow;
}

#tvbox {
  text-align: center;
  background: linear-gradient(#181818, #050505);
  padding: 10px 15px;
  box-shadow: $gb-shadow-outer-placement $gb-shadow-color, inset $tv-shadow;
  border: 0;
  border-radius: 3px;
  max-height: 68vh;
}

.tvbutton {
  display: inline;
  background-color: #020202;
  color: #181818;
  min-height: 10px;
  min-width: 20px;
  border-radius: 3px;
  margin: 2px;
  border: 0;
  box-shadow: 0 2px 4px black;
  font-size: 5px;
}

.on {
  background-color: #121212;
  color: white;
  text-shadow: $glow-size white;
}

.light {
  color: red;
  text-shadow: $glow-size red;
}

#bodyRow {
  height: 100%;
}

.pokeball img {
  max-height: 300px;
}

.pokeballIcon {
  height: 64px;
  margin-right: 10px;
}
.pokeballIcon:hover {
            filter:brightness(50%);
}
.container-fluid {
  background-color: none;
  margin: 0 !important;
  min-height: 100%;
  overflow: hidden;
}

.row {
  background-color: none;
}

.pokedexEntry {
  background-color: white;
  border: $gb-border-type $dark-green;
  margin: 5px;
  padding: 5px;
  box-shadow: $gb-shadow-outer-placement $gb-shadow-color, inset $gb-shadow-outer-placement $gb-shadow-color;
  display: flex;
  align-items: center;
  justify-content: left;
  -webkit-filter: url(#monochrome);
  filter: url(#monochrome);
}

.col-lg,
.col-sm,
.game {
  background-color: $light-green;
  border: $gb-border-type $dark-green;
  margin: 5px;
  padding: 5px;
  box-shadow: $gb-shadow-outer-placement $gb-shadow-color, inset $gb-shadow-outer-placement $gb-shadow-color;
}

.nopad {
  padding: 0 !important;
}

.game {
  margin: 4px !important;
  padding: 5px;
  text-align: left;
  background-color: white;
}

.col-lg {
  padding: 15px;
}

.hide {
  visibility: collapse;
}
.black {
          filter:brightness(0%);
}
.open {
  background: radial-gradient(transparent, black), url("images/open.jpg");
  @include background-size(cover);
  background-repeat: no-repeat;
  background-position: center;
}
/* for the matrix transform */
.defs-only {
  position: absolute;
  height: 0;
  width: 0;
  overflow: none;
  left: -100%;
}
@media only screen and (max-width: 800px) {
  #footer {
    position: sticky;
  }
}
@media only screen and (max-width: 675px) {
  #footer {
    position: sticky;
  }

  .icons {
    visibility: collapse;
  }

  html {
    overflow: auto;
  }

  #zed {
    max-height: 345px;
  }
}
@media only screen and (max-width: 400px) {

  html {
    font-size: 8px;
  }
}
@media only screen and (max-width: 450px) {
  html {
    font-size: 12px;
  }
  #header {
    max-height: 50px;
    overflow: hidden;
  }
  h1 {
        font-size: 25px;
        margin: 0;
  }
  h2 {
      font-size: 20px;
  }
  h1, h2 {

    -webkit-text-stroke: 0;
    text-shadow: 2px 2px 0px $pokemon-blue;
  }
  #zed {
    max-height: 150px;
  }
  .pokeball img {
    max-height: 200px;
  }
  .pokeballIcon {
    height: 32px;
  }
  #displayStats {
    padding: 5px;
  }
  li {
    line-height: 1;
  }
  .pokedexEntry {
    padding: 0;
  }
}
@media only screen and (min-height: 800px) {

  #footer {
    position: absolute;
  }
}
