@font-face {
  font-family: 'pokemon';
  src: url('PocketMonk.woff') format('woff')
}

@font-face {
  font-family: 'gameboy';
  src: url('gameboy.woff') format('woff')
}

html {
  margin: 0 auto;
  background-image: url("images/map.png");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

body {
  background-color: rgba(118, 148, 0, 0.2);
  margin: 0 auto;
  /* padding-top: 30px; */
  font-family: 'gameboy', Fallback, sans-serif;
  color: #142100;
  text-shadow: 2px 2px 0 rgba(58, 72, 38, 0.4);
  min-height: 100%;
}

#header {
  margin: 0 !important;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: rgb(158, 187, 236);
  box-shadow: 2px 2px 0 rgba(58, 72, 38, 0.4);
  background-image: url("images/tallgrass.png");
background-repeat: repeat-x;
background-position: bottom;
}

#footer {
  position: absolute;
  margin: 0 !important;
  border-left: none;
  border-right: none;
  border-bottom: none;
  box-shadow: none;
  background-color: white;
  bottom: 0 !important;
}

#displayStats {
  height: 100%;
}

#leftbar {
  height: 100%;
  background-color: #e0e5cc;
}

h1, h2 {
  font-family: 'pokemon', Fallback, sans-serif;
  color: #ffcc03;
  -webkit-text-stroke: 2px #4F45BF;
  margin: 5px;
  text-align: center;
  text-shadow: 2px 2px 0 rgba(58, 72, 38, 0.4);
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}

.pokeball {
  position: relative;
  height: 100%;
  background: radial-gradient(transparent, black), url("images/static2.gif") ;
  background-size: cover;
  box-shadow: inset 0px 0px 5px black !important;
}

#bodyRow {
  height: 100%;
}

.pokeball img {
  max-height: 300px;

}

.pokeballIcon {
  height: 64px;
}

.container-fluid {
  background-color: none;
  margin: 0 !important;
  min-height: 100%;
  overflow: hidden;
}

.row {
  background-color: none;
}

.pokedexEntry {
  background-color: white;
  border: 2px solid #142100;
  margin: 5px;
  padding: 5px;
  text-align: center;
  box-shadow: 2px 2px 0 rgba(58, 72, 38, 0.4), inset 2px 2px 0 rgba(58, 72, 38, 0.4);
  display: flex;
align-items: center;
justify-content: left;
}

.col-sm, .col-lg, .game {
  background-color: #e0e5cc;
  border: 2px solid #142100;
  margin: 5px;
  padding: 5px;
  text-align: center;
  box-shadow: 2px 2px 0 rgba(58, 72, 38, 0.4), inset 2px 2px 0 rgba(58, 72, 38, 0.4);
}

.nopad {
  padding: 0 !important;
  ;
}

.game {
  margin: 4px !important;
  padding: 5px;
  text-align: left;
  background-color: white;
}

.col-sm {

}

.col-lg {
  padding: 15px;
}

.hide {
  visibility: collapse;
}

.open {
  background-image: url("images/open.jpg");
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pokedexEntry span {
vertical-align:bottom;
 }
@media only screen and (max-width: 675px) {
  #footer {
        position: sticky;
    }
    .icons {
      font-size: 20px;
    }
}
